<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageLibrary</key>
	<array>
		<dict>
			<key>iconHeader</key>
			<string>ic_trending@2x</string>
			<key>titleHeader</key>
			<string>Trending Pictures</string>
			<key>listImage</key>
			<array>
				<string>default</string>
				<string>default</string>
				<string>default</string>
				<string>default</string>
				<string>default</string>
				<string>default</string>
				<string>default</string>
			</array>
		</dict>
		<dict>
			<key>iconHeader</key>
			<string>ic_holiday</string>
			<key>titleHeader</key>
			<string>Holiday</string>
			<key>listImage</key>
			<array>
				<string>Image</string>
				<string>Image</string>
				<string>Image</string>
				<string>Image</string>
				<string>Image</string>
				<string>Image</string>
				<string>Image</string>
			</array>
		</dict>
		<dict>
			<key>iconHeader</key>
			<string>ic_people@2x</string>
			<key>titleHeader</key>
			<string>People</string>
			<key>listImage</key>
			<array>
				<string>Image-1</string>
				<string>Image-1</string>
				<string>Image-1</string>
				<string>Image-1</string>
				<string>Image-1</string>
				<string>Image-1</string>
				<string>Image-1</string>
			</array>
		</dict>
		<dict>
			<key>iconHeader</key>
			<string>ic_food@2x</string>
			<key>titleHeader</key>
			<string>Food</string>
			<key>listImage</key>
			<array>
				<string>Image-2</string>
				<string>Image-2</string>
				<string>Image-2</string>
				<string>Image-2</string>
				<string>Image-2</string>
				<string>Image-2</string>
				<string>Image-2</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
